<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div 
          id="user-data" 
          ngModelGroup="userData"
          #userData="ngModelGroup">

          <div class="form-group">
            <label for="email">
              Email
              <input
              class="form-control"
              type="email"
              name="email"
              id="email"
              email
              ngModel
              #email="ngModel"
              [ngModel]="default">
              <span *ngIf="!email.valid && email.touched" class="help-block">Please enter valid email!</span>
            </label>
          </div>

          <button type="button" (click)="defaultEmail()">Default Email</button>

          <div class="form-group">
            <label for="subscription">
              subscription
              <select 
                name="subscription" 
                id="subscription" 
                class="form-control"
                ngModel>
                  <option value="basic">Basic</option>
                  <option value="advanced">Advanced</option>
                  <option value="pro">Pro</option>
              </select>
            </label>

          </div>
        <p *ngIf="!userData.valid && userData.touched">hey</p>
        </div>

        <div 
          class="radio"
          *ngFor="let price of prices">
          <label>
            <input 
              ngModel
              [value]="price"
              [id]="price"
              name="price"
              type="radio">
            {{ price }}
          </label>
        </div>

        <div class="form-group">
          <label for="password">
           Password
           <input 
            class="form-control"
            type="password"
            name="password"
            id="password"
            
            ngModel>
          </label>
        </div>

        <div class="form-group">
          <textarea 
            name="questionAnswer" 
            rows="3"
            [(ngModel)]="answer"
            class="form-control"
            >
          </textarea>
          <p>{{ answer }}</p>
        </div>

        <button
          [disabled]="!f.valid"
          class="btn btn-primary">
          Submit
        </button>
      </form>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <h3>Your Data</h3>
        <p>Email: {{ user.email }}</p>
        <p>Price: {{ user.price }}</p>
      </div>
    </div>
  </div>
</div>
